body,
html,
* {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	--base-background-color: hsl(0, 0%, 100%);
	--secondary-background-color: hsl(0, 0%, 94.1%);
	--third-background-color: hsl(0, 0%, 90.6%);
	--hover-background-color: hsla(0, 10%, 75%, 0.2);
	--error-background-color: hsl(0, 100%, 40%);

	--button-background-color: hsl(35.7, 100%, 50.6%);
	--button-hover-background-color: hsl(35.7, 100%, 64.6%);
	--button-hover-background-color-2: hsl(35.7, 100%, 64.6%, 0.5);
	--button-secondary-hover-background-color: hsla(35.6, 100%, 80%, 0.4);
	--button-admin-hover-background-color: hsla(241.6, 100%, 80%, 0.4);
	--button-admin-hover-background-color-2: hsla(241.6, 100%, 80%, 0.2);

	--font-color: hsl(0, 0%, 98%);
	--accent-color: hsl(0, 0%, 10%);
	--demphasized-font-color: hsl(0, 0%, 35%);
	--demphasized-font-color-2: hsl(0, 0%, 45%);

	--secondary-accent-color: hsl(0, 100%, 0%);
	--third-accent-color: hsl(0, 100%, 0%);

	--base-box-shadow-color: hsl(0, 0%, 66.3%);
	--base-box-shadow: 3px 3px var(--base-box-shadow-color);

	--full-box-shadow: 0px 0px 8px 1px hsl(0, 0%, 80%);
	--secondary-box-shadow: 3px 3px hsl(0, 0%, 66.3%);
	--input-box-shadow: 0px 0px 4px 1px hsl(35.6, 100%, 50.6%);

	--base-border-color: hsl(0, 0%, 82.7%);

	--base-outline-color: hsl(0, 0%, 82.7%);
	--base-outline: 1px solid var(--base-outline-color);
	--base-outline-nocolor: 1px solid;
	--input-outline: 0.5px solid hsl(0, 0%, 85%);
	--focus-input--outline: 2px solid hsl(35.7, 100%, 70.6%);

	--blue-color: hsl(217.6, 89.4%, 62.9%);
	--blue-color-1: hsl(217.6, 89.4%, 62.9%, 0.8);
	--blue-color-2: hsl(217.6, 89.4%, 62.9%, 0.6);
	--blue-color-3: hsl(217.6, 89.4%, 62.9%, 0.4);
	--blue-color-4: hsl(217.6, 89.4%, 62.9%, 0.2);

	--gold-color: hsl(43.8, 100%, 63.7%);
	--gold-color-1: hsl(43.8, 100%, 63.7%, 0.8);
	--gold-color-2: hsl(43.8, 100%, 63.7%, 0.6);
	--gold-color-3: hsl(43.8, 100%, 63.7%, 0.4);
	--gold-color-4: hsl(43.8, 100%, 63.7%, 0.2);

	--red-color: hsl(5.1, 69.2%, 56.7%);
	--red-color-1: hsl(5.1, 69.2%, 56.7%, 0.8);
	--red-color-2: hsl(5.1, 69.2%, 56.7%, 0.6);
	--red-color-3: hsl(5.1, 69.2%, 56.7%, 0.4);
	--red-color-4: hsl(5.1, 69.2%, 56.7%, 0.2);

	--green-color: hsl(150.7, 69.9%, 37.8%);
	--green-color-1: hsl(150.7, 69.9%, 37.8%, 0.8);
	--green-color-2: hsl(150.7, 69.9%, 37.8%, 0.6);
	--green-color-3: hsl(150.7, 69.9%, 37.8%, 0.4);
	--green-color-4: hsl(150.7, 69.9%, 37.8%, 0.2);
}

img[src='/no-image.png'] {
	outline: var(--base-outline);
}

ul {
	list-style: none;
}

:visited {
	color: #0000ee;
}

* {
	outline: 1px solid salmon;
}
