@import url(./global.css);

body,
html,
* {
	padding: 0;
	margin: 0;
	/* color-scheme: dark; */
}

* {
	box-sizing: Border-box;
	/* outline: 1px solid salmon; */
}

body {
	--base-background-color: hsl(0, 0%, 100%);
	--secondary-background-color: hsl(0, 0%, 94.1%);
	--third-background-color: hsl(0, 0%, 90.6%);
	--hover-background-color: hsla(0, 10%, 75%, 0.2);
	--error-background-color: hsl(0, 100%, 40%);

	--button-background-color: hsl(35.7, 100%, 50.6%);
	--button-hover-background-color: hsl(35.7, 100%, 64.6%);
	--button-hover-background-color-2: hsl(35.7, 100%, 64.6%, 0.5);

	--font-color: hsl(0, 0%, 98%);
	--accent-color: hsl(0, 0%, 10%);
	--demphasized-font-color: hsl(0, 0%, 35%);
	--demphasized-font-color-2: hsl(0, 0%, 45%);

	--secondary-accent-color: hsl(0, 100%, 0%);
	--third-accent-color: hsl(0, 100%, 0%);

	--full-box-shadow: 0px 0px 8px 1px hsl(0, 0%, 80%);
	--base-box-shadow: 3px 3px hsl(0, 0%, 66.3%);
	--secondary-box-shadow: 3px 3px hsl(0, 0%, 66.3%);
	--input-box-shadow: 0px 0px 4px 1px hsl(35.6, 100%, 50.6%);

	--base-border-color: hsl(0, 0%, 82.7%);

	--base-outline-color: hsl(0, 0%, 82.7%);
	--base-outline: 1px solid var(--base-outline-color);
	--input-outline: 0.5px solid hsl(0, 0%, 85%);
	--focus-input--outline: 2px solid hsl(35.7, 100%, 70.6%);

	--blue-color: hsl(217.6, 89.4%, 62.9%);
	--green-color: hsl(150.7, 69.9%, 37.8%);
	--gold-color: hsl(43.8, 100%, 63.7%);
	--red-color: hsl(5.1, 69.2%, 56.7%);
}

img {
	outline: var(--base-outline);
}
